body {
  background-image: url('images/patient.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


h3 {
    font-style: normal;
    text-align: center;
    background-color: white;
}

td {
  background-color: white;
  padding-left: 15px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-right: 15px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
